# Python
__pycache__/
*.pyc
*.pyo

# Environments
.env
.venv/
venv/

# Data & outputs (DO NOT VERSION THESE)
data/*
outputs/*
models/*
*.npy
*.faiss
*.pkl
*.html

# Keep empty folders
!data/.gitkeep
!outputs/.gitkeep
!models/.gitkeep

# OS
.DS_Store
Thumbs.db

*.egg-info/
build/
dist/
__pycache__/
*.pyc